<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite" >

  <test thread-count="5" name="Test">
    <classes>
      <class name="ananthuProject.Test.BookStoreHome"/>
     </classes>
  </test>
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="ananthuProject.Test.E2EActionsStandAlone"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
